
* {
    font-family: Verdana;
    color: white;
}

body, html {
    position: relative;
    margin: 0;
    padding: 20px;
    background-color: black; 
    overflow-x: none;
}

video {
    margin-top: 0;
}

h1 {
    font-size: 100px;
    margin: 0px;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

button {
    position: relative;
    border: none;
    width: 100%;
    background-color: black; 
    text-align: left;
    font-size: 70px;
    padding-top: 10px;
    padding-bottom: 0;
    transition: font-size 0.4s;
    outline: none;
}

button:hover {
    font-size: 100px;
}

button p {
    margin: 0;
    padding: 0; 
    transition: font-size 0.4s;
    font-size: 16px;
}

button:hover p {
    font-size: 20px;
}

button img {
    position: relative;
    height: 70px;
    transition: height 0.4s;
    border: 1px solid #aaaaaa;
}

button:hover img {
    height: 256px;
}

.centerCanvas {
    padding: 0;
    margin: auto;
    display: block;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 4px;
    padding: 0;
}

.tag {
    font-size: 12px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    margin: 0;
    margin-right: 4px;
    padding: 2px 10px;
    background-color: #141414;
    width: auto;
}

.tag:hover {
    font-size: 12px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: auto;
}

.grid-container img {
    height: 200px;
    transition: height 0.4s;
}

.grid-container img:hover {
    height: 220px;
}

.grid-container a {
    margin: 20px;
}

p { font-size: 16px; }
strong { font-size: 20px; }

.spacer-20 { height: 20px; }
.spacer-40 { height: 40px; }
.spacer-120 { height: 120px; }

#finalButton { color: black; }
#finalButton:hover { font-size: 70px; }
#noHover { font-size: 70px; }
