
* {
  font-family: monospace;
}

body, canvas {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

h3 {
  font-size: 16px;
  text-decoration: underline;
}

canvas {
  z-index: 1;
}

.div_draggable {
  position: absolute;
  z-index: 9;
  background-color: #222222;
  border: 1px solid #d3d3d3;
  width: 400px;
  resize: both;
}

#div_code {
  right: 10px;
  top: 10px;
}

#div_output {
  right: 10px;
  top: 460px;
}

#div_help {
  left: 300px;
  top: 10px;
}

#div_helpcontent {
  text-align: left;
  color: white;
  margin: 5px;
  max-height: 400px;
  overflow: scroll;
}

#div_helpbuttons {
  text-align: left;
  margin: 5px;
  color: white;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.div_draggable_header {
  margin: 0;
  padding: 0;
  cursor: move;
  z-index: 10;
  border: 0px;
  background-color: #993333;
  color: white;
  height: 24px;
  font-size: 18px;
  text-align: left;
}

.txtarea {
  font-size: 12px;
  width: 386px;
  height: 400px;
  margin: 0;
  padding: 5px;
  margin-top: 4px;
  resize: none;
  background-color: #222222;
  color: white;
}

#div_helpcontent {
  display: none;
}

#div_helpbuttons {
  display: none;
}

.btn_draggable_header {
  height: 22px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: relative;
  top: 0;
}

#btn_code_minimize {
  width: 30px;
}

#btn_code_run {
  width: 50px;
}

#btn_code_stop {
  width: 60px;
}

#btn_code_help {
  width: 60px;
}

#btn_output_minimize {
  width: 30px;
}

#btn_output_clear {
  width: 80px;
}

#btn_help_minimize {
  width: 30px;
}

.btn_opt {
  position: absolute;
  display: block;
  z-index: 2;
  width: 120px;
  height: 24px;
  font-size: 10px;
  top: 10px;
}

#btn_recover_windows {
  left: 10px;
}

#btn_tutorial {
  left: 140px;
}

.btn_help_class {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 40px;
}

#p_revision {
  position: absolute;
  left: 10px;
  bottom: 0px;
  color: white;
  z-index: 2;
  user-select: none;
  background-color: black;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}
