body, html {
    background-color: lightblue;
    text-align: center;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Arial';
}

h1 {
    font-size: 52px;
    margin: 0;
    padding: 0;
}

input {
    min-width: 300px;
    max-width: 80vw;
    width: 600px;
    height: 40px;
}

img {
    width: 80vw;
}

button {
    min-width: 180px;
    max-width: 60vw;
    width: 400px;
    height: 40px;
}

#heading {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: lightcoral;
}
